eval/output/*
eval/error/*
eval/results/*
*.whl
out/
__pycache__/
*.jsonl
.vscode

data/5000/final_metadata_1000.json
data/5000/final_metadata_5000.json
data/5000/pswc_repos_papers.jsonl.bz2
src/repos/sample_set.json